*.py[cod]
assets/external/
*.db
.web
.states
__pycache__/
*$py.class
*.log
.env
.env.*
.idea/
.vscode/
*.sqlite3
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
pip-wheel-metadata/
.cache/
.pytest_cache/
.coverage
.tox/
.nox/
htmlcov/
.mypy_cache/
.dmypy.json
.pyre/
.venv/
.next/
backend.zip
10tacle_frontend_bundle/frontend.zip
frontend.zip
